streamlit 
requests
streamlit_lottie
pandas
nltk
plotly
transformers 
nltk.tokenize
nltk.corpus 
nltk.tag
torch
io
time
collections
re
random
io
base64
spacy
fpdf 
PIL 
matplotlib
wordcloud
plotly.express 
 
 